
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/Main/image/favicon.png" rel="icon" />
    <title>Marketshop - eCommerce HTML Template</title>
    <meta name="description" content="Responsive and clean html template design for any kind of ecommerce webshop">
    <!-- CSS Part Start-->
    <link rel="stylesheet" typ e="text/css" href="~/Main/js/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Main/css/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Main/css/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="~/Main/css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="~/Main/css/owl.transitions.css" />
    <link rel="stylesheet" type="text/css" href="~/Main/css/responsive.css" />
    <link rel="stylesheet" type="text/css" href="~/Main/css/stylesheet-skin3.css" />
    <link href='//fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <!-- CSS Part End-->
</head>
<body>
   

    @RenderBody()

    <!-- JS Part Start-->
    <script type="text/javascript" src="~/Main/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="~/Main/js/bootstrap/js/boot strap.min.js"></script>
    <script type="text/javascript" src="~/Main/js/jquery.easing-1.3.min.js"></script>
    <script type="text/javascript" src="~/Main/js/jquery.dcjqaccordion.min.js"></script>
    <script type="text/javascript" src="~/Main/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Main/js/custom.js"></script>
    <!-- JS Part End-->
</body>
</html>